@page "/tag/{id}"
@using BlazorSolver.Components.Util
@using Database

@if (_tag is null)
    {
        <Load/>
    }
else
{
    <h1> @_tag.Name</h1>
    <h1> Movies with this tag </h1>
    @if (_movies is null)
    {
        <Load/>
    }
    else
    {
        <div class="movie-list">
            @foreach (var m in _movies)
            {
                <a href=@($"/movie/{m.Name}")> @m.Name </a>
            }
        </div>
    }
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private Contex _ctx = new ContexFactory().NewContex();
    private MTag? _tag;
    private IEnumerable<MMovie>? _movies;

    protected override async Task OnInitializedAsync()
    {
        _tag = Queries.findTagByName(_ctx, Id).FirstOrDefault();
        StateHasChanged();

        _movies = await Task.Run(() => _tag.LoadMovies(_ctx));
        StateHasChanged();
    }
}
